.card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    max-width: 400px;
    margin: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    
}

.card-image {
    flex: 1;
}

.card-image img {
    background-image: url(//m.media-amazon.com/images/I/61vGQNUEsGL._AC_SL1384_.jpg);
    max-width: 100%;
    height: auto;
    display: block;
}

.card-content {
    flex: 1;
    padding: 20px;
    background-color: #333;
    color: white;
    display: flex;
    font-size: x-small;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: space-between;
}

.card-content h2 {
    margin-top: 0;
}

.card-content p {
    margin-bottom: 10px;
}

.buy-button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: darkgreen;
}

.alert-card {
    display: none;
    background-color: rgb(8, 65, 0);
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: fixed;
    border: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    animation: fadeOut 3s forwards;
}
